openapi: 3.0.2
info:
  title: TrueBiz Web Presence Review Async Web Presence Review Web Presence Review History API
  version: 1.0.0
  description: '# Introduction

    TrueBiz provides tools to automate assessing a merchant''s web presence through the entire customer lifecycle.


    # Authentication


    All requests to TrueBiz require an API key to be sent as a header.  The expected header name is "X-API-KEY".

    '
servers:
- url: https://ae.truebiz.io
  description: Production
tags:
- name: Web Presence Review History
  description: '

    Web Presence Review results are stored with TrueBiz until you request their deletion.  These endpoints

    are designed to allow you to access these historical results.

    '
paths:
  /api/v1/history/company:
    get:
      operationId: core_api_company_lookup_get_web_presence_reviews_history
      summary: Get Web Presence Reviews History
      parameters:
      - in: query
        name: min_datetime
        schema:
          title: Min Datetime
          type: string
          format: date-time
        required: false
      - in: query
        name: max_datetime
        schema:
          title: Max Datetime
          type: string
          format: date-time
        required: false
      - in: query
        name: search_term
        schema:
          title: Search Term
          type: string
        required: false
      - in: query
        name: include_monitoring
        schema:
          title: Include Monitoring
          default: false
          type: boolean
        required: false
      - in: query
        name: include_internal
        schema:
          title: Include Internal
          default: false
          type: boolean
        required: false
      - in: query
        name: include_errored
        schema:
          title: Include Errored
          default: false
          type: boolean
        required: false
      - in: query
        name: limit
        schema:
          title: Limit
          default: 50
          type: integer
        required: false
      - in: query
        name: offset
        schema:
          title: Offset
          default: 0
          type: integer
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCompanyLookup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
      - Web Presence Review History
      security:
      - ApiKeyAuth: []
      - PropelAuthBearer: []
  /api/v1/history/company/{request_id}:
    get:
      operationId: core_api_company_lookup_get_web_presence_review_history
      summary: Get Web Presence Review History
      parameters:
      - in: path
        name: request_id
        schema:
          title: Request Id
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyLookup'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyLookup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
      - Web Presence Review History
      security:
      - ApiKeyAuth: []
      - PropelAuthBearer: []
components:
  schemas:
    InvalidInputParameter:
      title: InvalidInputParameter
      type: object
      properties:
        field_name:
          title: Field Name
          type: string
        errors:
          title: Errors
          default: []
          type: array
          items:
            type: string
      required:
      - field_name
      example:
        field_name: field1
        errors:
        - This field is required.
    RiskAnalysis:
      title: RiskAnalysis
      type: object
      properties:
        fraud_risk:
          $ref: '#/components/schemas/FraudRisk'
    CompanyRevenue:
      title: CompanyRevenue
      description: An enumeration.
      enum:
      - 0-1M
      - 1M-10M
      - 10M-50M
      - 50M-100M
      - 100M-1B
      - 1B+
      type: string
    core__api__schemas__policy_analysis__Analysis:
      title: Analysis
      type: object
      properties:
        question:
          title: Question
          description: The question that was asked.
          example: Does the policy detail the website's privacy policy and how the data of customers is protected, used or disclosed?
          type: string
        answer:
          title: Answer
          description: The answer to the question.
          example: 'Yes'
          type: string
        sources:
          title: Sources
          description: The sources of the answer.
          example:
          - https://www.acme.com/privacy
          - https://www.acme.com/privacy2
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 2083
            format: uri
      required:
      - question
      - sources
    CountryShare:
      title: CountryShare
      description: A single country's share of total website traffic.
      type: object
      properties:
        value:
          title: Value
          type: number
        change:
          title: Change
          type: number
        name:
          title: Name
          type: string
        abbr:
          title: Abbr
          type: string
    InvalidRequest:
      title: InvalidRequest
      type: object
      properties:
        message:
          title: Message
          type: string
        invalid_parameters:
          title: Invalid Parameters
          default: []
          type: array
          items:
            $ref: '#/components/schemas/InvalidInputParameter'
      required:
      - message
      example:
        message: Invalid input.
        invalid_parameters:
        - field_name: field1
          errors:
          - This field is required.
        - field_name: non_field_errors
          errors:
          - There's something strange in your input.
    HistoricalArchive:
      title: HistoricalArchive
      type: object
      properties:
        url:
          title: URL
          description: The URL to access an archive.
          example: '2021-12-15'
          nullable: false
          minLength: 1
          maxLength: 65536
          format: uri
          type: string
        taken_date:
          title: Taken date
          description: The date the archive was captured.
          example: '2021-12-15'
          nullable: false
          type: string
          format: date
    Registrar:
      title: Registrar
      type: object
      properties:
        name:
          title: Registrar name
          description: The name of the registrar.
          default: ''
          example: MarkMonitor, Inc.
          nullable: false
          minLength: 1
          maxLength: 2048
          type: string
        country:
          title: Registrar country
          description: The country the registrar is primarily located in.
          default: ''
          example: United States
          nullable: false
          minLength: 1
          maxLength: 2048
          type: string
        website:
          title: Registrar website
          description: The primary website of the registrar.
          example: https://markmonitor.com
          nullable: true
          minLength: 1
          maxLength: 2083
          format: uri
          type: string
    CustomerReviewsMeta:
      title: CustomerReviewsMeta
      type: object
      properties:
        last_review_date:
          title: Last review date
          description: The date the last review was made
          type: string
          format: date
        url:
          title: url
          description: The URL of the company profile page
          type: string
        name:
          title: Name
          description: The name of the company as it appears on the company profile page
          type: string
        review_count:
          title: Review count
          description: The number of reviews for the company
          default: 0
          type: integer
        review_average:
          title: Review count
          description: The average review rating
          default: 0.0
          type: number
    Phone:
      title: Phone
      type: object
      properties:
        number:
          title: Phone number
          description: The E.164 formatted phone number.
          example: '+13105555555'
          nullable: false
          type: string
        is_valid:
          title: Phone is valid?
          description: A phone number that fits with known patterns such as area codes and carrier ranges.
          example: true
          nullable: true
          type: boolean
        line_type:
          title: Phone line type
          description: The type of phone line associated with this number
          example: Mobile
          nullable: true
          allOf:
          - $ref: '#/components/schemas/LineType'
        country_code:
          title: Country Code
          description: ISO country code of country this phone number is from
          example: US
          nullable: true
          type: string
        country_name:
          title: Country Name
          description: The name of the country this phone number is from
          example: United States
          nullable: true
          type: string
        links_to_company:
          title: Company linkages
          description: Any current associations found between this number and the company
          default: []
          nullable: false
          type: array
          items:
            $ref: '#/components/schemas/PhoneLink'
        source:
          title: Source
          description: The data source for this number.
          example: website
          nullable: true
          allOf:
          - $ref: '#/components/schemas/DataSource'
    ContentFlagDetail:
      title: ContentFlagDetail
      description: Structured detail for a triggered content flag.
      type: object
      properties:
        flag:
          title: Flag
          description: The content flag category name.
          allOf:
          - $ref: '#/components/schemas/ContentFlagName'
        reasoning:
          title: Reasoning
          description: Explanation for why this flag was triggered. Null when unavailable.
          example: The page contains references to online casino games and sports betting.
          type: string
        location:
          title: Location
          description: URL of the page that was analyzed.
          example: https://www.example.com/
          type: string
      required:
      - flag
    Coordinates:
      title: Coordinates
      type: object
      properties:
        lat:
          title: Lat
          type: number
        lon:
          title: Lon
          type: number
      required:
      - lat
      - lon
    FraudRisk:
      title: FraudRisk
      description: An enumeration.
      enum:
      - LOW
      - MEDIUM
      - HIGH
      type: string
    ContentFlagName:
      title: ContentFlagName
      description: An enumeration.
      enum:
      - Adoption
      - Adult
      - Alcohol
      - Animal Entertainment
      - Asset Management
      - Auctions
      - Cannabis
      - Career Placement Services
      - Commodities or Securities Trading
      - Counterfeit Goods and IP Infringement
      - Credit Monitoring and Identity Protection Services
      - Crowdfunding
      - Cruise lines
      - Crypto
      - Cryptocurrency
      - Dating
      - Debt
      - Discount and Rebate Services
      - Endangered Animals
      - Firearms
      - Fireworks
      - Fundraising
      - Gambling
      - Hazardous Materials
      - High Risk Legal Services
      - High Value Assets
      - Informercials
      - Insurance
      - International Customs Services
      - Lead Generation
      - Leather and Taxidermy
      - Lending
      - Medical Devices
      - Nutraceuticals
      - Oil and gas
      - Pet Stores
      - Pharmaceuticals
      - Pornography
      - Prepaid Telephony
      - Psychics and Fortune Tellers
      - Real Estate
      - Religious and Political Groups
      - Scams and Scamware
      - Scrap Metal
      - Sex work
      - Shell Companies
      - Social Media Manipulation
      - Solar
      - Telehealth
      - Telemarketing
      - Timeshares
      - Tobacco
      - Weapons
      - Web Hosting
      - Government
      type: string
    PhoneLinkType:
      title: PhoneLinkType
      description: An enumeration.
      enum:
      - direct
      - employee
      - address
      type: string
    PostalServiceFlag:
      title: PostalServiceFlag
      description: '"residential" indicates that the address is a residential address.

        "po_box" indicates that the address is a Postoffice Box rather than a physical address.

        "virtual_address" indicates that the address is a private business receiving mail for clients.

        "vacant" indicates that the USPS has marked the address as being vacant.

        "inactive" indicates that the USPS does not deliver to this address.

        "unreliable" indicates that that there was not enough address information to validate a specific address.

        "unconfirmed" indicates that the USPS does not maintain Delivery Point Validation data for this address.'
      enum:
      - residential
      - po_box
      - virtual_address
      - vacant
      - inactive
      - general_delivery
      - unreliable
      - unconfirmed
      type: string
    Industry:
      title: Industry
      type: object
      properties:
        primary_industry:
          title: Primary industry
          description: The primary industry the company operates in.
          example: Iron and Steel Forging
          nullable: true
          minLength: 1
          maxLength: 512
          type: string
        tags:
          title: Tags
          description: A list of short, descriptive phrases indicating what the company does.
          default: []
          example:
          - Steelworks
          - Anvils
          - Coyotes
          type: array
          items:
            type: string
        primary_naics:
          title: Primary NAICS code
          description: A single code that is considered to be the primary business classification of the company according to the North American Industry Classification System (NAICS).
          example: '332111'
          type: string
        additional_naics_codes:
          title: NAICS codes
          description: A list of codes indicating the industry classification of the company according to the North American Industry Classification System (NAICS).
          default: []
          example:
          - '512110'
          type: array
          items:
            type: string
        primary_sic:
          title: Primary SIC code
          description: A single code that is considered to be the primary SIC of the company according to the Standard Industry Classification (SIC) system.
          example: '3462'
          type: string
        additional_sic_codes:
          title: SIC codes
          description: A list of codes indicating the industry classification of the company according to the Standard Industry Classification (SIC) system.
          default: []
          example:
          - '7819'
          type: array
          items:
            type: string
        primary_mcc:
          title: Primary MCC code
          description: A single code most likely to represent the company's merchant classification according to the Merchant Category Code (MCC) system.
          example:
            code: '3499'
            description: Fabricated Metal Products, Not Elsewhere Classified
          type: object
        additional_mcc_codes:
          title: SIC codes
          description: A list of codes indicating other possible merchant classifications of the company according to the Merchant Category Code (MCC) system.
          default: []
          example:
          - code: '7812'
            description: Motion Picture and Video Tape Production and Distribution
          type: array
          items:
            type: object
    PolicyAnalysis:
      title: PolicyAnalysis
      type: object
      properties:
        sources:
          title: Evaluated sources
          description: A list of sources used in the analysis.
          type: array
          items:
            $ref: '#/components/schemas/PolicySource'
        analyses:
          title: Analyses
          description: A list of analytical findings from the source materials.
          type: array
          items:
            $ref: '#/components/schemas/core__api__schemas__policy_analysis__Analysis'
    CompanyType:
      title: CompanyType
      description: An enumeration.
      enum:
      - Corporation
      - General Partnership
      - Limited
      - Limited Liability Company
      - Limited Partnership
      - Limited Liability Partnership
      - Limited Liability Limited Partnership
      - No Liability
      - Non-Profit
      - Professional Corporation
      - Professional Limited Liability Corporation
      - Sole Proprietorship
      - Unlimited
      type: string
    CompanyMatchRequestStatuses:
      title: CompanyMatchRequestStatuses
      description: An enumeration.
      enum:
      - QUEUED
      - PROCESSING
      - FINISHED
      - ERROR
      type: string
    Email:
      title: Email
      type: object
      properties:
        address:
          title: Email address
          description: The email address.
          example: null
          nullable: false
          type: string
        is_valid:
          title: Email is valid?
          description: An email that is not disposable, on a free host, and whose domain has DNS properly configured to receive emails.
          example: true
          nullable: true
          type: boolean
        internal_source_urls:
          title: Internal Source URLs
          description: A list of URLs where the email address was found within the searched website.
          default: []
          example:
          - https://example.com/contact
          nullable: false
          type: array
          items:
            type: string
        external_source_urls:
          title: External Source URLs
          description: A list of URLs where the email address was found, outside the searched website.
          default: []
          example:
          - https://zoominfo.com/123
          nullable: false
          type: array
          items:
            type: string
        source:
          title: Source
          description: The data source for this email.
          example: website
          nullable: true
          allOf:
          - $ref: '#/components/schemas/DataSource'
        date_first_seen:
          title: Date first seen
          description: The date the email was first seen.
          example: '2000-06-06'
          nullable: true
          type: string
          format: date
        velocity:
          title: Velocity
          description: A score representing activity over the last 6 months, out of 10.
          example: 7
          nullable: true
          type: integer
        popularity:
          title: Popularity
          description: A score representing breadth of interaction over the last 12 months, out of 10.
          example: 9
          nullable: true
          type: integer
    AddressCoordinatesAccuracy:
      title: AddressCoordinatesAccuracy
      description: Order matters here, list from least to most accurate
      enum:
      - APPROXIMATE
      - ROOFTOP
      type: string
    CustomerReviews:
      title: CustomerReviews
      type: object
      properties:
        analysis:
          title: Analysis
          description: An analysis of the review data gathered from providers
          allOf:
          - $ref: '#/components/schemas/core__api__schemas__customer_review__Analysis'
        providers:
          title: Providers
          description: A list of review data from different providers
          default: []
          type: array
          items:
            $ref: '#/components/schemas/CustomerReviewsData'
    PhoneLink:
      title: PhoneLink
      type: object
      properties:
        type:
          title: Link type
          description: The type of link between this number and the company
          example: direct
          nullable: false
          allOf:
          - $ref: '#/components/schemas/PhoneLinkType'
        duration:
          title: Link duration
          description: The approximate length of time the link has existed (formatted as an ISO 8601 duration)
          example: P2Y5M
          nullable: true
          type: string
    EmploymentRecord:
      title: EmploymentRecord
      type: object
      properties:
        company_name:
          title: Company name
          description: The company name.
          example: ACME LLC.
          type: string
        title:
          title: Job title
          description: The job title.
          example: Co-founder & CEO
          type: string
        start_date:
          title: Start date
          description: The date the person started at the job.
          example: '2018-09-01'
          type: string
          format: date
      required:
      - company_name
    PagedCompanyLookup:
      title: PagedCompanyLookup
      type: object
      properties:
        items:
          title: Items
          type: array
          items:
            $ref: '#/components/schemas/CompanyLookup'
        count:
          title: Count
          type: integer
        limit:
          title: Limit
          type: integer
        offset:
          title: Offset
          type: integer
      required:
      - items
      - count
      - limit
      - offset
    Application:
      title: Application
      type: object
      properties:
        phone_business_connections:
          title: phone has business connections?
          description: The submitted phone number was found to have associations with the business.
          example: true
          type: array
          items:
            $ref: '#/components/schemas/DataSource'
        email_business_connections:
          title: email has business connections?
          description: The submitted email was found to have associations with the business.
          example: true
          type: array
          items:
            $ref: '#/components/schemas/DataSource'
        address_business_connections:
          title: address has business connections?
          description: The submitted address was found to have associations with the business.
          example: true
          type: array
          items:
            $ref: '#/components/schemas/DataSource'
        person_business_connections:
          title: person has business connections?
          description: The submitted person was found to have associations with the business.
          example: true
          type: array
          items:
            $ref: '#/components/schemas/DataSource'
        description:
          title: Description
          description: Does the submitted description describe what the business does?
          example:
            text: A used bookstore that also sells coffee and records
            match_type: Full match
          allOf:
          - $ref: '#/components/schemas/SubmittedDescriptionAnalysis'
    Decision:
      title: Decision
      description: An enumeration.
      enum:
      - Pass
      - Fail
      type: string
    Metrics:
      title: Metrics
      type: object
      properties:
        estimated_employee_count_range:
          title: Estimated employee count range
          description: An estimated range showing the number of people working at the company.
          example: 5,000+
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CompanySize'
        estimated_annual_revenue_range:
          title: Estimated annual revenue range
          description: An estimated range showing the revenue of the company.
          example: 1B+
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CompanyRevenue'
    SearchModel:
      title: SearchModel
      description: An enumeration.
      enum:
      - STANDARD
      - DEEP
      type: string
    TechSpendRecord:
      title: TechSpendRecord
      type: object
      properties:
        spend:
          title: Spend
          description: The estimated technology spend at a historical date.
          example: 1000
          type: integer
        detected_date:
          title: Date
          description: The date of the estimate.
          example: '2021-12-15'
          type: string
          format: date
    LevelOfConcern:
      title: LevelOfConcern
      description: An enumeration.
      enum:
      - low
      - medium
      - high
      - critical
      type: string
    ReferringSite:
      title: ReferringSite
      type: object
      properties:
        url:
          title: URL
          description: Link to the referring site.
          example: null
          nullable: false
          minLength: 1
          maxLength: 65536
          format: uri
          type: string
        traffic_share:
          title: Traffic Share
          description: Share of total traffic coming from the referring traffic.
          example: null
          nullable: false
          type: number
        screenshot_image_link:
          title: Screenshot Image
          description: A link to the full website screenshot image.
          example: null
          nullable: false
          minLength: 1
          maxLength: 65536
          format: uri
          type: string
    Person:
      title: Person
      type: object
      properties:
        name:
          title: Name
          description: The person's full name.
          maxLength: 1024
          minLength: 1
          example: Dara Khosrowshahi
          type: string
        job_title:
          title: Job title
          description: A name that describes someone's job or position.
          maxLength: 255
          minLength: 1
          example: Chief Executive Officer
          type: string
        linkedin_url:
          title: LinkedIn URL
          description: The person's LinkedIn profile URL.
          maxLength: 1024
          minLength: 29
          example: https://www.linkedin.com/in/dara-khosrowshahi-9b1a8b/
          type: string
        profile_picture:
          title: LinkedIn photo URL
          description: The URL of the person's LinkedIn profile photo.
          maxLength: 1024
          minLength: 34
          example: https://media.licdn.com/dms/image/D4D03AQGDnwFEps6idg/profile-displayphoto-shrink_200_200/0/1673360179524?e=1688601600&v=beta&t=bpXAkQdRR7liIMck3FQ7maRE-XeMwtChfWt73oB7YZ0
          type: string
        state_province:
          title: State
          description: The state or province where the person is located.
          maxLength: 255
          minLength: 1
          example: California
          type: string
        city:
          title: City
          description: The city where the person is located.
          maxLength: 255
          minLength: 1
          example: San Francisco
          type: string
        country:
          title: Country
          description: The country where the person is located.
          maxLength: 255
          minLength: 1
          example: United States
          type: string
        start_date:
          title: Start date
          description: The date the person started at the company.
          example: '1995-07-14'
          nullable: true
          type: string
          format: date
        other_active_positions:
          title: Other active positions
          description: Other jobs listed as currently active.
          example: '[{"title": "CEO", "company_name": "ACME LLC.", "start_date": "2018-09-01"}]'
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/EmploymentRecord'
        source:
          title: Source
          description: The data source for this person.
          example: website
          nullable: true
          allOf:
          - $ref: '#/components/schemas/DataSource'
    TechActivityMonth:
      title: TechActivityMonth
      type: object
      properties:
        year:
          title: Year
          description: The year of the record.
          example: 2022
          type: integer
        month:
          title: Month
          description: The month of the record.
          example: 11
          type: integer
        added:
          title: Added
          description: The number of added website technologies during this month.
          example: 5
          type: integer
        removed:
          title: Removed
          description: The number of removed website technologies during this month.
          example: 5
          type: integer
        total:
          title: total
          description: The number of active website technologies during this month.
          example: 5
          type: integer
    FootTraffic:
      title: FootTraffic
      type: object
      properties:
        projections:
          title: Projections
          description: List of daily projections zero-indexed starting on Monday
          type: array
          items:
            $ref: '#/components/schemas/ProjectionDay'
        traffic_score:
          description: Score of the location's foot traffic
          default: UNKNOWN
          allOf:
          - $ref: '#/components/schemas/TrafficScore'
        hours_open:
          title: Hours Open
          description: Zero-indexed list of days starting with monday, each containg a list of hours the location is open
          type: array
          items:
            type: array
            items:
              type: integer
    TrafficSources:
      title: TrafficSources
      description: Traffic source breakdown as shares summing to ~1.0.
      type: object
      properties:
        search:
          title: Search
          type: number
        social:
          title: Social
          type: number
        display_ads:
          title: Display Ads
          type: number
        direct:
          title: Direct
          type: number
        referrals:
          title: Referrals
          type: number
        mail:
          title: Mail
          type: number
    ProjectionDay:
      title: ProjectionDay
      type: object
      properties:
        name:
          title: Name
          description: Day of the week
          type: string
        hours:
          title: Hours
          description: List of projection hours
          type: array
          items: {}
      required:
      - name
      - hours
    CompanyLookup:
      title: CompanyLookup
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
        created_at:
          title: Created At
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/CompanyMatchRequestStatuses'
        search_term:
          title: Search Term
          type: string
        search_query:
          $ref: '#/components/schemas/CompanyQuery'
        search_model:
          $ref: '#/components/schemas/SearchModel'
        response_code:
          title: Response Code
          type: integer
        response_data:
          title: Response Data
          anyOf:
          - $ref: '#/components/schemas/Company'
          - type: object
      required:
      - id
      - created_at
      - response_code
      - response_data
      additionalProperties: false
    TrafficScore:
      title: TrafficScore
      description: An enumeration.
      enum:
      - UNKNOWN
      - LOW
      - MEDIUM
      - HIGH
      type: string
    Address:
      title: Address
      type: object
      properties:
        full_address:
          title: Full address
          description: The primary address of the company
          example: '5000 Market Street, #9616, San Francisco, CA 94103, United States'
          nullable: true
          minLength: 1
          maxLength: 8192
          type: string
        line_1:
          title: Line 1
          description: The primary address of the company.
          example: 5000 Market Street
          nullable: true
          minLength: 1
          maxLength: 2048
          type: string
        line_2:
          title: Line 2
          description: The primary address of the company.
          example: '#9616'
          nullable: true
          minLength: 1
          maxLength: 2048
          type: string
        city:
          title: City
          description: The primary city the company operates in.
          example: San Francisco
          nullable: true
          minLength: 1
          maxLength: 255
          type: string
        state_province:
          title: State / province
          description: The primary State the company operates in.
          example: CA
          nullable: true
          minLength: 1
          maxLength: 255
          type: string
        postal_code:
          title: Postal code
          description: The Zip Code of the company.
          example: '94103'
          nullable: true
          minLength: 1
          maxLength: 255
          type: string
        country:
          title: Country
          description: The primary Country the company operates in.
          example: United States
          nullable: true
          minLength: 1
          maxLength: 255
          type: string
        postal_service_flags:
          title: Postal service flags
          description: A list of flags indicating what the local postal service knows about this address (Only US addresses supported currently).
          default: []
          example: []
          type: array
          items:
            $ref: '#/components/schemas/PostalServiceFlag'
        is_shared_with_registered_agent:
          title: Is shared with registered agent?
          description: Indicates if the discovered address is shared with a known registered agent.
          example: null
          nullable: true
          type: boolean
        coordinates:
          title: Coordinates
          description: Latitude and longitude object for the address.
          example:
            lon: -122.4179707
            lat: 37.7756852
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Coordinates'
        coordinates_accuracy:
          title: Precision of coordinates
          description: The level of precision of the coordinates
          example: ROOFTOP
          nullable: true
          allOf:
          - $ref: '#/components/schemas/AddressCoordinatesAccuracy'
        google_maps_link:
          title: Google Maps Link
          description: A link to view the address on google maps.
          example: https://maps.google.com/?q=37.7756852,-122.4179707
          nullable: true
          minLength: 1
          maxLength: 2083
          format: uri
          type: string
        is_valid:
          title: Is the address valid?
          description: Is the address a valid, known address?
          example: true
          nullable: true
          type: boolean
        source:
          title: Source
          description: The data source for this address.
          example: website
          nullable: true
          allOf:
          - $ref: '#/components/schemas/DataSource'
    WebsiteContent:
      title: WebsiteContent
      type: object
      properties:
        evaluated_url:
          title: Evaluated URL
          description: The url that was evaluated for content related information.
          example: https://www.acme.com/
          minLength: 1
          maxLength: 2083
          format: uri
          type: string
        title:
          title: Website title
          description: The evaluated url's title as recorded in the site's markup.
          example: Acme Inc. | World's Best Manufacturer of Anvils
          type: string
        description:
          title: Website title
          description: The evaluated url's description as recorded in the site's markup.
          example: Having trouble with a pesky road runner?  Buy an Acme Anvil and have no problems tomorrow!
          type: string
        has_placeholder_text:
          title: Has placeholder text?
          description: Indicates whether we discovered what is likely to be placeholder text, like lorem ipsum strings.
          default: false
          example: false
          type: boolean
        privacy_policy_link:
          title: Privacy policy link
          description: The discovered URL of a privacy policy linked from the main page.
          example: https://acme.com/privacy
          minLength: 1
          maxLength: 2083
          format: uri
          type: string
        is_privacy_policy_suspicious:
          title: Is privacy policy suspicious?
          description: Indicates whether our inspection of the privacy policy found indicators of risk.
          example: false
          type: boolean
        terms_of_service_link:
          title: Terms of service policy link
          description: The discovered URL of a Terms of Service policy linked from the main page.
          example: https://acme.com/terms
          minLength: 1
          maxLength: 2083
          format: uri
          type: string
        is_terms_of_service_suspicious:
          title: Is terms of service suspicious?
          description: Indicates whether our inspection of the terms of service found indicators of risk.
          example: false
          type: boolean
        return_policy_link:
          title: Return policy link
          description: The discovered URL of a return policy linked from the main page.
          example: https://acme.com/return
          minLength: 1
          maxLength: 2083
          format: uri
          type: string
        refund_policy_link:
          title: Refund policy link
          description: The discovered URL of a refund policy linked from the main page.
          example: https://acme.com/refund
          minLength: 1
          maxLength: 2083
          format: uri
          type: string
        cancellation_policy_link:
          title: Cancellation policy link
          description: The discovered URL of a cancellation policy linked from the main page.
          example: https://acme.com/cancellation
          minLength: 1
          maxLength: 2083
          format: uri
          type: string
        shipping_policy_link:
          title: Shipping policy link
          description: The discovered URL of a shipping / delivery policy linked from the main page.
          example: https://acme.com/shipping
          minLength: 1
          maxLength: 2083
          format: uri
          type: string
        opengraph_image_link:
          title: Opengraph Image Link
          description: The URL of the opengraph image.
          example: https://acme.com/image.png
          type: string
        primary_language:
          title: Primary language
          description: Evaluation of the primary language used for web content.
          example: English
          type: string
        has_subscriptions:
          title: Subscriptions
          description: Indicates whether we found evidence of subscription services on the website.
          example: true
          type: boolean
        is_under_construction:
          title: Is under construction?
          description: Indicates whether we found evidence that the content is a basic under construction shell website.
          example: null
          type: boolean
        pages_linked_from_homepage:
          title: Homepage Internal Link Count
          description: The number of links from the homepage to other pages at the domain.
          example: 15
          type: integer
        content_flags:
          title: Content flags
          description: 'Deprecated: use content_flag_details for structured data. A list of content flag name strings.'
          default: []
          example:
          - Tobacco
          type: array
          items: {}
        content_flag_details:
          title: Content flag details
          description: Structured details for each content flag, including reasoning and the page analyzed.
          type: array
          items:
            $ref: '#/components/schemas/ContentFlagDetail'
        custom_content_flags:
          title: Custom content flags
          description: 'Deprecated: This field is no longer populated and will always return an empty list. Use content_flag_details instead. This field will be removed in a future release.'
          default: []
          example: []
          type: array
          items: {}
        detected_brands:
          title: Detected brands
          description: The brands detected in the web content.
          type: array
          items:
            $ref: '#/components/schemas/DetectedBrand'
        policy_analysis:
          title: Policy analysis
          description: The analysis of the privacy policy, terms of service, and other policies.
          allOf:
          - $ref: '#/components/schemas/PolicyAnalysis'
        duplicate_websites:
          title: Duplicate websites
          description: Urls that match more than half of the first 250 words of the company's website.
          example:
          - url: https://acmeanvils.com
            percent_matched: 96
          type: array
          items:
            $ref: '#/components/schemas/DuplicateMatch'
        payment_processors:
          title: Payment processors
          description: A list of payment processors currently used on the company's website.
          example:
          - Stripe
          type: array
          items:
            type: string
        multi_level_marketing_name:
          title: Multi level marketing name
          description: The name of a known multi-level-marketing brand found in the web content.
          example: Amway
          type: string
    Unauthorized:
      title: Unauthorized
      type: object
      properties:
        message:
          title: Message
          type: string
      required:
      - message
      example:
        message: Unauthorized.
    NewsArticleTopicConcernType:
      title: NewsArticleTopicConcernType
      description: An enumeration.
      enum:
      - Fraud
      - Legal
      - Bankruptcy
      type: string
    ConnectionSourceType:
      title: ConnectionSourceType
      description: An enumeration.
      enum:
      - Referring site
      - Duplicate website text
      - External email domain
      - Shared executive
      - Shared phone number
      - Shared credentials
      - Cohosted domain
      - Redirect domain
      - Searched domain redirects
      - Associated person
      - Phone owner
      - Shared address
      - Shared email
      - Associated web page
      type: string
    SubmittedDescriptionAnalysis:
      title: SubmittedDescriptionAnalysis
      type: object
      properties:
        text:
          title: Text
          type: string
        match_type:
          $ref: '#/components/schemas/SubmittedDescriptionMatchType'
      required:
      - text
      - match_type
    NewsArticle:
      title: NewsArticle
      type: object
      properties:
        title:
          title: Title
          type: string
        link:
          title: Link
          type: string
        date:
          title: Date
          type: string
          format: date-time
        snippet:
          title: Snippet
          type: string
        source:
          title: Source
          type: string
        concerns:
          type: array
          items:
            $ref: '#/components/schemas/NewsArticleTopicConcernType'
      required:
      - concerns
    Screenshot:
      title: Screenshot
      type: object
      properties:
        fullpage_image_link:
          title: Fullpage Screenshot Image
          description: A link to the full website screenshot image.
          example: null
          nullable: false
          minLength: 1
          maxLength: 65536
          format: uri
          type: string
        cropped_image_link:
          title: Cropped Screenshot Image
          description: A link to a website screenshot image cropped to above-the-fold.
          example: null
          nullable: false
          minLength: 1
          maxLength: 65536
          format: uri
          type: string
    Company:
      title: Company
      type: object
      properties:
        name:
          title: Company name
          description: The name of the company.
          example: Acme, Inc.
          nullable: true
          minLength: 1
          maxLength: 2048
          type: string
        domain:
          title: Domain
          description: Details about the company's domain name.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Domain'
        application:
          title: Application
          description: Information about the submitted/applicant data provided along with the domain.
          example:
            phone_has_business_connections: true
            email_has_business_connections: true
            address_has_business_connections: true
            person_has_business_connections: true
            description:
              text: A used bookstore that also sells coffee and records
              match_type: Full match
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Application'
        formation_type:
          title: Formation type
          description: The legal business structure this company was formed under.
          example: Corporation
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CompanyType'
        has_closed_indicators:
          title: Has closure indicators
          description: '`true` when any one supported source signals the business is closed — either permanently or temporarily. Signals include closure language on the website, a `CLOSED_PERMANENTLY` or `CLOSED_TEMPORARILY` status from Google Places, and matching Yelp/Scrap.io flags. Treat as a strong indicator the business should not be approved without manual review. `null` means we did not gather enough signal to make a determination — it is not the same as `false`.'
          example: false
          nullable: true
          type: boolean
        website_content:
          title: Website content
          description: Information about the content on the company's website.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/WebsiteContent'
        website_traffic:
          title: Website traffic
          description: Information on traffic to the company's website.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/WebsiteTraffic'
        primary_address:
          title: Primary address
          description: The company's primary address.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Address'
        additional_addresses:
          title: Additional addresses
          description: Additional addresses that are associated with the company.
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/Address'
        founded_year:
          title: Founded Year
          description: The year the company was founded.
          example: 1955
          nullable: true
          minimum: 578
          type: integer
        description:
          title: Description
          description: A short summary of what the company does, sourced from the company's own website content and/or third-party business data providers. May be `null` for parked, unreachable, or extremely sparse sites where no usable description could be derived.
          example: Acme, Inc. is a large manufacturing company best known for it's quality anvils.
          nullable: true
          minLength: 1
          maxLength: 65536
          type: string
        industry:
          title: Industry
          description: Information about various industry classification(s) for the company.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Industry'
        primary_phone_number:
          title: Phone number
          description: The primary phone number of the company.
          example:
            number: '+15558675309'
            is_valid: true
            line_type: Landline
            country_name: United States
            country_code: US
            links_to_company:
            - type: Direct
              duration: P2Y10M
          nullable: true
          strict: true
          allOf:
          - $ref: '#/components/schemas/Phone'
        additional_phone_numbers:
          title: Additional phone numbers
          description: Additional phone numbers associated with the company.
          example:
          - number: '+15558675309'
            is_valid: true
            line_type: Landline
            country_name: United States
            country_code: US
            links_to_company:
            - type: Direct
              duration: P2Y10M
          nullable: true
          strict: true
          type: array
          items:
            $ref: '#/components/schemas/Phone'
        foot_traffic:
          title: Foot traffic
          description: Foot traffic data for the company.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/FootTraffic'
        email_addresses:
          title: Email addresses
          description: Email addresses known to be associated with this company.
          default: []
          example:
          - address: partners@acme.com
            is_valid: true
          nullable: true
          strict: true
          type: array
          items:
            $ref: '#/components/schemas/Email'
        customer_reviews:
          title: Customer review
          description: Customer reviews data and analysis
          example:
            analysis:
              text: The company has a good reputation with customers.
              level_of_concern: low
              flags: []
            providers:
            - provider: yelp
              meta:
                url: https://www.yelp.com/biz/acme-anvil
                name: AcmeInc
                review_count: 3339
                review_average: 4.3
            - provider: google
              meta:
                url: https://www.google.com/maps/place/?q=place_id:ChIJE_P9I5yAhYARkssH6GvVJ2g
                name: Acme
                review_count: 11239
                review_average: 4.5
            - provider: trustpilot
              meta:
                url: https://www.trustpilot.com/review/www.acme.com
                name: Acme
                review_count: 22678
                review_average: 4.3
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerReviews'
        news_articles:
          title: News articles
          description: 'Recent news articles about the company filtered to risk-relevant themes only. Each article''s `concerns` field is tagged with one or more of: `Fraud`, `Legal`, or `Bankruptcy`. Articles that do not match any of these themes are not returned.'
          default: []
          example:
          - title: Acme, Inc. announces it is filing for bankruptcy.
            link: https://example.com/news/acme-inc-files-for-bankruptcy
            date: '2026-07-20T22:40:42.190Z'
            snippet: CEO Wiley E. Coyote announced that Acme, Inc. is filing for bankruptcy tomorrow at 9 AM.
            thumbnail: https://example.com/thumn/acme-vault-empty.png
            concerns:
            - Bankruptcy
          type: array
          items:
            $ref: '#/components/schemas/NewsArticle'
        social_media_profiles:
          title: Social media profile links
          description: All social media profile URLs we associate with the company. This is the complete set; `social_media_detailed_profiles` is the enriched subset of these for which we were able to collect follower counts and other per-profile metrics.
          default: []
          example:
          - https://facebook.com/acme
          - https://linkedin.com/company/acme-inc
          - https://crunchbase.com/organization/acme
          - https://twitter.com/acme
          - https://www.google.com/maps/place/?q=place_id:ChIJE_P9I5yAhYARkssH6GvVJ2g
          type: array
          items:
            type: string
        social_media_detailed_profiles:
          title: Detailed social media profiles
          description: 'Enriched per-profile data (follower counts, post recency, activity level, and where available, average audience engagement) for the subset of `social_media_profiles` we could collect detail for. Coverage varies by platform: Facebook, Instagram, LinkedIn, Twitter/X, Pinterest, TikTok, YouTube, and Snapchat are supported, but `activity_level` is only populated for Instagram and LinkedIn, and `average_engagement` only for Instagram.'
          default: []
          example:
          - url: https://facebook.com/acme
            follower_count: 22232239
            like_count: 22160933
            last_posted_content_at: '2023-07-01T10:23:00Z'
          type: array
          items:
            $ref: '#/components/schemas/SocialMediaProfile'
        metrics:
          title: Metrics
          description: Estimated company size and revenue, returned as bucketed ranges (not exact figures). Includes `estimated_employee_count_range` (e.g. `1-10`, `5,000+`) and `estimated_annual_revenue_range` (e.g. `0-1M`, `1B+`). Either sub-field may be absent if no source can estimate it.
          example:
            estimated_employee_count_range: 201-500
            estimated_annual_revenue_range: 10M-50M
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Metrics'
        people:
          title: People
          description: CXO-level executives and owners.
          default: []
          example:
          - name: Wiley E. Coyote
            job_title: Chief Executive Officer
            linkedin_url: https://www.linkedin.com/in/wiley-e-coyote/
            profile_picture: https://media.licdn.com/dms/image/D4D03AQGDnwFEps6idg/profile-displayphoto-shrink_200_200/0/1673360179524?e=1688601600&v=beta&t=bpXAkQdRR7liIMck3FQ7maRE-XeMwtChfWt73oB7YZ0
            state_province: California
            city: San Francisco
            country: United States
          type: array
          items:
            $ref: '#/components/schemas/Person'
        ecommerce:
          title: Ecommerce
          description: Metrics and information on the online store present at the website
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Ecommerce'
        connected_entities:
          title: Related entities
          description: Other entities discovered to be connected to this business. Each entity's `sources` list explains how the connection was established; possible source types include `Referring site`, `Duplicate website text`, `External email domain`, `Shared executive`, `Shared phone number`, `Shared credentials`, `Cohosted domain`, `Redirect domain`, `Searched domain redirects`, `Associated person`, `Phone owner`, `Shared address`, `Shared email`, and `Associated web page`.
          default: []
          example:
          - name: Roadrunner Restaurants
            domain: roadrunner-restaurants.com
            sources:
            - type: Shared address
              context: Both businesses are listed at 123 Main Street, Chicago, IL.
              url: https://roadrunner-restaurants.com
          type: array
          items:
            $ref: '#/components/schemas/ConnectedEntity'
        pdf_report_link:
          title: PDF report link
          description: Link to download a PDF outlining the results in a visual format.
          nullable: true
          minLength: 1
          maxLength: 65536
          format: uri
          type: string
        ui_portal_link:
          title: UI portal link
          description: Link to see the full response in TrueBiz's web portal.
          nullable: true
          minLength: 1
          maxLength: 65536
          format: uri
          type: string
        recommendation:
          title: Recommendation
          description: TrueBiz's overall opinion on whether this business passes review, derived from the risk indicators above. `decision` is one of `Pass` or `Fail`.
          example:
            decision: Pass
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Recommendation'
        risks:
          title: Risks
          description: 'All risk indicators evaluated for the business, partitioned into three buckets: `validity` (data points supporting legitimacy), `notice` (informational signals worth reviewing but not necessarily disqualifying), and `risk` (data points indicating risk from interacting with the business). The `recommendation` field summarizes the net verdict derived from these indicators.'
          default:
            validity: []
            notice: []
            risk: []
          example:
            validity:
            - category: business
              subcategory: classification
              name: is_industry_classified
              score: 10000
              description: Is TrueBiz able to find any supplemental data suggesting the business interacts in a high risk area?
              classification_type: Validity
            - category: business
              subcategory: classification
              name: is_no_classification_data_found
              score: 10000
              description: Is TrueBiz able to find any industry classification data for this business?
              classification_type: Validity
            - category: business
              subcategory: metadata
              name: is_founded_recently
              score: 10000
              description: Has the business been founded recently?
              classification_type: Validity
            - category: business
              subcategory: metrics
              name: is_company_size_and_revenue_metrics_aligned
              score: 10000
              description: Are the business metrics around employee count and revenue within expectations?
              classification_type: Validity
            - category: website
              subcategory: registration
              name: is_registered
              score: 10000
              description: Is the domain registered with a domain registrar?
              classification_type: Validity
            - category: website
              subcategory: registration
              name: is_registration_expired
              score: 10000
              description: Is the domain registration expired?
              classification_type: Validity
            - category: website
              subcategory: availability
              name: is_resolvable
              score: 10000
              description: Is the domain resolvable to an IP address?
              classification_type: Validity
            - category: website
              subcategory: availability
              name: is_webserver_responsive
              score: 10000
              description: Does the domain's responding web server(s) serve a simple HTTP or HTTPS request on port 80 or 443.
              classification_type: Validity
            - category: website
              subcategory: availability
              name: is_ssl_valid
              score: 10000
              description: Is the domain's responding web server(s) using a valid, properly configured SSL certificate?
              classification_type: Validity
            - category: website
              subcategory: reputation
              name: is_known_free_email_host
              score: 10000
              description: Is the domain associated with a known, free email provider?
              classification_type: Validity
            - category: website
              subcategory: reputation
              name: is_tld_non_business
              score: 10000
              description: Is the top level domain a known, non-business TLD?
              classification_type: Validity
            - category: website
              subcategory: reputation
              name: is_known_social_media_domain
              score: 10000
              description: Is the domain owned by a known social media company?
              classification_type: Validity
            notice: []
            risk: []
          allOf:
          - $ref: '#/components/schemas/RiskIndicators'
        risk_analysis:
          title: Risk Analysis
          description: Higher-level fraud risk classification (`LOW` / `MEDIUM` / `HIGH`). Populated only for accounts enrolled in supplementary fraud-analysis workflows; standard `/company/search` responses leave this null. Contact your account manager if you need this signal.
          example:
            fraud_risk: LOW
          nullable: true
          allOf:
          - $ref: '#/components/schemas/RiskAnalysis'
        is_blocked:
          title: Blocked
          description: Is this business blocked for fraud based on information that your company has provided to us.
          default: false
          type: boolean
        block_details:
          title: Block details
          description: Metadata about an active block on this domain (when the block was created, when it expires, and a human-readable explanation). Populated only when `is_blocked` is `true`.
          example:
            created_at: '2023-12-25T19:30:25.000+00:00'
            expires_at: '2030-12-29T23:59:59.000+00:00'
            explanation: Reported by customer ops for repeated chargebacks.
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CompanyMatchBlockedDomain'
        tracking_id:
          title: Tracking ID
          description: ID used to track this request in TrueBiz's application.
          example: 00000000-0000-0000-0000-000000000000
          nullable: true
          type: string
          format: uuid
        external_tracking_ref:
          title: External tracking reference
          description: ID used in your system to track this request.
          example: abc_defg12345678
          nullable: true
          type: string
    RiskType:
      title: RiskType
      description: An enumeration.
      enum:
      - Validity
      - Notice
      - Risk
      type: string
    ActivityLevel:
      title: ActivityLevel
      description: An enumeration.
      enum:
      - Low
      - Medium
      - High
      type: string
    ConnectionSource:
      title: ConnectionSource
      type: object
      properties:
        type:
          title: Name
          description: Name of the connected entity.
          example: Acme Consulting Inc.
          allOf:
          - $ref: '#/components/schemas/ConnectionSourceType'
        context:
          title: Context
          description: Data on the connection.
          example: example.com is also located at 123 Main Street, Chicago, IL
          type: string
        url:
          title: URL
          description: The URL of the source.
          example: https://example.com
          minLength: 1
          maxLength: 65536
          format: uri
          type: string
    SubmittedDescriptionMatchType:
      title: SubmittedDescriptionMatchType
      description: An enumeration.
      enum:
      - Full match
      - Partial match
      - No match
      type: string
    TopKeywords:
      title: TopKeywords
      type: object
      properties:
        organic:
          title: Organic keywords
          description: The top organic keywords driving traffic to the site.
          example:
          - anvils
          - cartoon anvils
          type: array
          items:
            type: string
        paid:
          title: Paid keywords
          description: The top paid keywords driving traffic to the site.
          example:
          - example
          - example2
          type: array
          items:
            type: string
    FollowRatio:
      title: FollowRatio
      description: An enumeration.
      enum:
      - Low
      - Medium
      - High
      type: string
    ConcernFlag:
      title: ConcernFlag
      description: An enumeration.
      enum:
      - customer_service_concerns
      - product_quality_concerns
      - product_authenticity_concerns
      - delivery_concerns
      - return_or_refund_concerns
      - fraud_concerns
      type: string
    core__api__schemas__customer_review__Analysis:
      title: Analysis
      type: object
      properties:
        text:
          title: Text
          description: The text of the analysis
          type: string
        level_of_concern:
          title: Level of concern
          description: The level of concern based on the analysis
          allOf:
          - $ref: '#/components/schemas/LevelOfConcern'
        flags:
          title: Flags
          description: A list of flags indicating which concerns were raised in the analysis
          type: array
          items:
            $ref: '#/components/schemas/ConcernFlag'
      required:
      - text
    CompanySize:
      title: CompanySize
      description: An enumeration.
      enum:
      - 1-10
      - 11-50
      - 51-200
      - 201-500
      - 500-1,000
      - 1,001-5,000
      - 5,000+
      type: string
    ConnectedEntity:
      title: ConnectedEntity
      type: object
      properties:
        name:
          title: Name
          description: Name of the connected entity.
          example: Acme Consulting Inc.
          type: string
        domain:
          title: URL
          description: domain of the connected entity.
          example: example.com
          type: string
        sources:
          title: Source
          description: The data source that establishes the connection.
          default: []
          example: Duplicate website text
          type: array
          items:
            $ref: '#/components/schemas/ConnectionSource'
        content_flags:
          title: Content flags
          description: A list of potentially concerning flags in the web content.
          example:
          - Animal Cruelty
          type: array
          items:
            type: string
        multi_level_marketing_name:
          title: Multi level marketing name
          description: The name of a known multi-level-marketing brand found in the web content.
          example: Amway
          type: string
        primary_language:
          title: Primary language
          description: Evaluation of the primary language used for web content.
          example: English
          type: string
        is_webserver_responsive:
          title: Webserver responsive
          description: Indicates whether the entity's webserver is responsive.
          example: true
          type: boolean
    RiskIndicators:
      title: RiskIndicators
      type: object
      properties:
        validity:
          title: Validity indicators
          description: A list of data points that indicate the business's legitimacy.
          default: []
          example: []
          type: array
          items:
            $ref: '#/components/schemas/Risk'
        notice:
          title: Notice indicators
          description: A list of data points that indicate information you may want to take heed of before interacting with the business.
          default: []
          example: []
          type: array
          items:
            $ref: '#/components/schemas/Risk'
        risk:
          title: Risk indicators
          description: A list of data points that indicate the risk of interacting with the business.
          default: []
          example: []
          type: array
          items:
            $ref: '#/components/schemas/Risk'
    Recommendation:
      title: Recommendation
      type: object
      properties:
        decision:
          title: Decision
          description: TrueBiz's overall verdict on the business. `Pass` indicates the business cleared review; `Fail` indicates one or more risk indicators were severe enough to fail the business.
          example: Pass
          allOf:
          - $ref: '#/components/schemas/Decision'
      required:
      - decision
    DuplicateMatch:
      title: DuplicateMatch
      type: object
      properties:
        url:
          title: URL
          description: URL of a website with matching text.
          example: https://www.duplicate.com
          nullable: false
          minLength: 1
          maxLength: 65536
          format: uri
          type: string
        percent_matched:
          title: Percent Matched
          description: The share of words matched out .
          example: 88
          nullable: false
          type: integer
        screenshot_image_link:
          title: Screenshot Image Link
          description: A link to a screenshot with the matched text highlighted.
          example: null
          nullable: false
          minLength: 1
          maxLength: 65536
          format: uri
          type: string
    BadRequest:
      title: BadRequest
      type: object
      properties:
        message:
          title: Message
          type: string
      required:
      - message
      example:
        message: Bad request.
    CustomerReviewsData:
      title: CustomerReviewsData
      type: object
      properties:
        provider:
          title: Provider
          description: Unique ID of the review service providing the review data
          type: string
        meta:
          title: Meta
          description: Data describing the review data
          allOf:
          - $ref: '#/components/schemas/CustomerReviewsMeta'
    SocialMediaProfile:
      title: SocialMediaProfile
      type: object
      properties:
        url:
          title: url
          description: The URL of the company's social media profile page.
          example: https://www.facebook.com/uber
          nullable: true
          type: string
        like_count:
          title: Number of likes
          description: The number of likes or followers of this social media page.
          example: https://www.facebook.com/uber
          type: integer
        last_posted_content_at:
          title: Last posted content at
          description: The date and time of the last post made on this page.
          example: '2023-06-04T11:05:00Z'
          type: string
          format: date-time
        page_created_at:
          title: Last posted content at
          description: The date this page was created on.
          example: '2010-01-04'
          type: string
          format: date
        is_verified:
          title: verified
          description: Indicates whether the page is verified by the social provider.
          example: true
          type: boolean
        is_business:
          title: Business Profile
          description: Indicates whether the page is a business account.
          example: true
          type: boolean
        is_private:
          title: Private
          description: Indicates whether the page is private.
          example: false
          type: boolean
        activity_level:
          title: Activity Level
          description: The activity level of the profile.
          example: High
          allOf:
          - $ref: '#/components/schemas/ActivityLevel'
        follower_count:
          title: Follower Count
          description: The number of followers of the profile.
          example: 1000
          type: integer
        follow_ratio:
          title: Follow Ratio
          description: The follow ratio of the profile.
          example: High
          allOf:
          - $ref: '#/components/schemas/FollowRatio'
        post_quantity:
          title: Post Quantity
          description: The number of posts made by the profile.
          example: 100
          type: integer
        average_engagement:
          title: Average Engagement
          description: The average engagement level of the profile.
          example: Medium
          allOf:
          - $ref: '#/components/schemas/AverageEngagement'
        is_age_restricted:
          title: Age Restricted
          description: Indicates whether the profile has age restrictions.
          example: false
          type: boolean
        most_recent_post_url:
          title: Most Recent Post URL
          description: The URL of the most recent post made by the profile.
          example: https://www.facebook.com/uber/posts/123456789
          type: string
        most_recent_post_text:
          title: Most Recent Post Text
          description: The text content of the most recent post made by the profile.
          example: Excited to announce our new partnership!
          type: string
        most_recent_post_image:
          title: Most Recent Post Image
          description: The URL of the image in the most recent post made by the profile.
          type: string
        location:
          title: Location
          description: The location associated with the profile.
          example: San Francisco, CA
          type: string
    Ecommerce:
      title: Ecommerce
      type: object
      properties:
        platform:
          title: Ecommerce Platform
          description: The ecommerce platform used by the company.
          example: shopify
          nullable: true
          type: string
        product_count:
          title: Product Count
          description: The number of products sold by the company.
          example: 100
          nullable: true
          type: integer
        vendor_count:
          title: Vendor Count
          description: The number of unique vendors sold by the company.
          example: 20
          nullable: true
          type: integer
        average_price:
          title: Average Price
          description: The average price of products for sale, in the currency of the 'currency_code' field.
          example: 15.55
          nullable: true
          type: number
        minimum_price:
          title: Minumum Price
          description: The lowest price of any product for sale, in the currency of the 'currency_code' field.
          example: 9.99
          nullable: true
          type: number
        maximum_price:
          title: Maximum Price
          description: The highest price of any product for sale, in the currency of the 'currency_code' field.
          example: 100.99
          nullable: true
          type: number
        currency_code:
          title: Currency Code
          description: The ISO code for the currency used.
          example: USD
          nullable: true
          type: string
        last_updated_date:
          title: Last Updated Date
          description: The date of the last update to the site.
          example: '2023-03-23'
          nullable: true
          type: string
          format: date
    LineType:
      title: LineType
      description: An enumeration.
      enum:
      - Landline
      - Mobile
      - FixedVOIP
      - NonFixedVOIP
      - TollFree
      - Other
      - Voicemail
      - ''
      type: string
    PolicySource:
      title: PolicySource
      type: object
      properties:
        type:
          title: Source type
          description: The type of source.
          example: Privacy Policy
          type: string
        url:
          title: Source URL
          description: The URL of the source.
          example: https://www.example.com/privacy
          minLength: 1
          maxLength: 2083
          format: uri
          type: string
        title:
          title: Source title
          description: The title of the source.
          example: Acme Inc. Privacy Policy
          type: string
        company_name:
          title: Company name
          description: The name of the company as it appears in the source.
          example: Acme Inc.
          type: string
        language:
          title: Source language
          description: The language of the source.
          example: en
          type: string
        last_updated:
          title: Last updated
          description: The date the source was last updated.
          example: '2021-01-01'
          type: string
        change_policy:
          title: Change policy
          description: The policy for changes to the source.
          example: Example Co reserves the right to make changes to this Privacy Policy. Any updates will be posted on our website.
          type: string
        policy_contact:
          title: Contact
          description: The contact information for the source.
          example: support@example.com
          type: string
        synopsis:
          title: Synopsis
          description: A brief synopsis of the source.
          example: This privacy policy outlines the types of personal information that is received and collected and how it is used. It also outlines the steps we take to protect your personal information.
          type: string
        has_placeholder_text:
          title: Has placeholder text?
          description: Indicates whether the source contains placeholder text.
          example: false
          type: boolean
      required:
      - type
      - url
    TooManyRequests:
      title: TooManyRequests
      type: object
      properties:
        message:
          title: Message
          type: string
      required:
      - message
      example:
        message: You have exceeded your current quota of 10 requests/second for this api endpoint.  Please slow down.
    CompanyQuery:
      title: CompanyQuery
      type: object
      properties:
        domain:
          title: Domain
          description: The business's domain. **Required unless you provide `submitted_business_name` together with an address.** Accepts a bare domain, full URL, or email — we reduce it to the registered domain per Mozilla's Public Suffix List. (RFC 1034/1035 for ASCII, IDNA2008 for internationalized.)
          nullable: true
          example: example.net
          maxLength: 255
          type: string
        submitted_business_name:
          title: Submitted Business Name
          description: The business's name. **Required (along with an address) if you do not provide `domain`.**
          nullable: true
          example: Bob's Burritos
          maxLength: 1024
          type: string
        submitted_description:
          title: Submitted Description
          description: A description of the business's industry/operations
          nullable: true
          example: Bob's Burritos is a local institution proudly serving top quality Mexican street food to the Memphis area since 1967.
          maxLength: 2048
          type: string
        address_line_1:
          title: Address Line 1
          description: Line 1 of the business address. **At least one address field is required when identifying the business by name instead of domain.**
          nullable: true
          example: 123 Main St.
          maxLength: 2048
          type: string
        address_line_2:
          title: Address Line 2
          description: Line 2 of the business address.
          nullable: true
          example: Suite 100
          maxLength: 2048
          type: string
        city:
          title: City
          description: City of the business address.
          nullable: true
          example: Memphis
          maxLength: 255
          type: string
        state_province:
          title: State/Province
          description: State/Province of the business address.
          nullable: true
          example: TN
          maxLength: 255
          type: string
        postal_code:
          title: Postal Code
          description: Postal code of the business address.
          nullable: true
          example: '37501'
          maxLength: 255
          type: string
        country:
          title: Country
          description: Country of the business address
          nullable: true
          example: USA
          maxLength: 255
          type: string
        submitted_email:
          title: Submitted email
          description: The email of the business or applicant. (Emails should conform to the IETF RFC 5322 spec)
          nullable: true
          example: bob@yahoo.com
          maxLength: 254
          type: string
        submitted_phone:
          title: Submitted Phone
          description: The phone number of the business or applicant. (Phone numbers should conform to the ITU-T E.164 standard)
          nullable: true
          example: '+19015555555'
          maxLength: 255
          type: string
        submitted_full_name:
          title: Submitted Full Name
          description: 'The full name of the applicant. '
          nullable: true
          example: Bob Smith
          maxLength: 1024
          type: string
        match_profile_id:
          title: Match Profile ID
          description: ID of the TrueBiz match profile to use when processing the request.
          nullable: true
          example: 00000000-0000-0000-0000-000000000000
          type: string
          format: uuid
        external_tracking_ref:
          title: External tracking reference
          description: ID used in your system to track this request.
          nullable: true
          example: abc_defg12345678
          maxLength: 255
          type: string
      example:
        domain: example.net
        submitted_business_name: Bob's Burritos
        submitted_description: Bob's Burritos is a local institution proudly serving top quality Mexican street food to the Memphis area since 1967.
        address_line_1: 123 Main St.
        address_line_2: Suite 100
        city: Memphis
        state_province: TN
        postal_code: '37501'
        country: USA
        submitted_email: bob@yahoo.com
        submitted_phone: '+19015555555'
        submitted_full_name: Bob Smith
        external_tracking_ref: abc_defg12345678
        match_profile_id: 00000000-0000-0000-0000-000000000000
    MonthlyVisits:
      title: MonthlyVisits
      description: Visit count for a single calendar month.
      type: object
      properties:
        year:
          title: Year
          type: integer
        month:
          title: Month
          type: integer
        visits:
          title: Visits
          type: integer
      required:
      - year
      - month
      - visits
    CredentialMatchDomain:
      title: CredentialMatchDomain
      type: object
      properties:
        domain:
          title: Domain
          description: The year of the record.
          example: example.com
          type: string
        technologies:
          title: Technologies
          description: Labels for the technologies that have shared credentials with this domain and searched website.
          example:
          - google-analytics
          - olark
          type: array
          items:
            type: string
      required:
      - domain
      - technologies
    DataSource:
      title: DataSource
      description: An enumeration.
      enum:
      - website
      - social
      - other
      - submitted
      type: string
    CompanyMatchBlockedDomain:
      title: CompanyMatchBlockedDomain
      type: object
      properties:
        created_at:
          title: Blocked since
          description: When the block was created
          example: '2023-12-25T19:30:25.000+00:00'
          nullable: true
          type: string
          format: date-time
        expires_at:
          title: Blocked until
          description: When the block expires
          example: '2030-12-29T23:59:59.000+00:00'
          nullable: true
          type: string
          format: date-time
        explanation:
          title: Block explanation
          description: Human-readable explanation for why the domain was blocked
          nullable: true
          type: string
    Risk:
      title: Risk
      type: object
      properties:
        category:
          title: Category
          description: The general area this risk classification belongs to.
          default: ''
          example: website
          minLength: 1
          maxLength: 64
          type: string
        subcategory:
          title: Subcategory
          description: The subdivision of the category.
          default: ''
          example: security
          minLength: 1
          maxLength: 64
          type: string
        name:
          title: Name
          description: The machine-readable name of the risk element being considered.
          default: ''
          example: ssl_configuration
          minLength: 1
          maxLength: 255
          type: string
        display_name:
          title: Display name
          description: The human-readable name of the risk element being considered.
          default: ''
          example: Webserver SSL configuration
          minLength: 1
          maxLength: 255
          type: string
        score:
          title: Score
          description: The percentage score of how risky we consider the data for this item to be, denoted as a flat integer that should be divided by 100 (e.g. 1000 -> 10%). Higher numbers are more risky.
          default: ''
          example: 0
          minimum: 0
          maximum: 10000
          type: integer
        description:
          title: Description
          description: A plaintext explanation of the risk.
          default: ''
          example: The website's SSL configuration is not valid, indicating site security is not well maintained.
          minLength: 1
          maxLength: 512
          type: string
        classification_type:
          title: Classification type
          description: The classification type indicating whether the data point(s) find that this is an indicatorof validity, risk, or something your team should take notice of.
          default: Validity
          example: Validity
          nullable: false
          allOf:
          - $ref: '#/components/schemas/RiskType'
    InternalServerError:
      title: InternalServerError
      type: object
      properties:
        message:
          title: Message
          type: string
      required:
      - message
      example:
        message: An internal server error occurred.  Our support team has already been notified.  Please try again later.  If you continue to get this error, please reach out to your account manager.
    HostingProvider:
      title: HostingProvider
      type: object
      properties:
        name:
          title: Hosting provider name
          description: The name of the servers' internet service provider.
          default: ''
          example: Google
          nullable: false
          minLength: 1
          maxLength: 2048
          type: string
        country:
          title: Hosting provider country
          description: The country the hosting provider's server(s) are located in.
          default: ''
          example: United States
          nullable: false
          minLength: 1
          maxLength: 2048
          type: string
    Domain:
      title: Domain
      description: 'this has come to be a collection of technical data points, rather than anything intuitively related to the "Domain"

        err on having things that could be in website_content being more intelligable to non-technical users

        and technical stuff directly in domain'
      type: object
      properties:
        name:
          title: Domain name
          description: The fully qualified domain name.
          example: acme.com
          nullable: true
          minLength: 1
          maxLength: 2048
          type: string
        registration_date:
          title: Registration date
          description: The date the domain was initially registered on.
          example: '1992-07-14'
          nullable: true
          type: string
          format: date
        last_update_date:
          title: Last update date
          description: The date the domain's registration info was last updated on.
          example: '2021-12-15'
          nullable: true
          type: string
          format: date
        expiration_date:
          title: Expiration date
          description: The date on which the domain's registration info is due to expire. If the expiration date has passed, this adds risk as the domain can be reassigned to a new company.
          example: '2028-07-12'
          nullable: true
          type: string
          format: date
        is_resolvable:
          title: Is resolvable?
          description: A domain that responded with a valid A, AAAA, or CNAME record at the time of lookup. Unresolvable domains are frequently caused by typos on input.
          example: true
          type: boolean
        is_registered:
          title: Is registered?
          description: A domain that was present in the ICANN registry at the time of lookup. Unregistered domains can be purchased at any time, and thus are risky. This is frequently caused by typos on input.
          example: true
          type: boolean
        is_parked:
          title: Is parked?
          description: A domain that is registered, but not connected to a legitimate site. It is instead pointed at a parking page, typically owned by the registrar.
          example: false
          type: boolean
        is_known_free_email_host:
          title: Is known free email host?
          description: A domain known for providing free email signups.  Typically, a corporate representative of google (or another hosted domain provider) will use their corporate email address, not their public email service domain.
          example: false
          type: boolean
        is_known_social_media_domain:
          title: Is known social media domain?
          description: A domain that is registered to a known social media entity.
          example: false
          type: boolean
        is_known_marketplace_domain:
          title: Is known marketplace domain?
          description: A domain that is registered to a known marketplace entity (e.g. alibaba, amazon, fiverr).
          example: false
          type: boolean
        is_known_top_domain:
          title: Is known top domain?
          description: A domain that is known to be one of the most popular sites on the internet.
          example: false
          type: boolean
        is_known_hosting_provider_domain:
          title: Is known hosting provider domain?
          description: A domain that is known to be registered to a known hosting provider (e.g. company.hostingprovider.com and not company.com).
          example: false
          type: boolean
        is_non_business:
          title: Is non business?
          description: A domain with a top level domain that indicates it is unlikely to be a business (e.g. .edu, .gov).
          example: false
          type: boolean
        is_ssl_valid:
          title: Is SSL valid?
          description: A domain for which SSL was properly configured at the time of the check.
          example: true
          type: boolean
        is_webserver_responsive:
          title: Is webserver responsive?
          description: A domain for which the responding web server(s) responds to a simple HTTP or HTTPS request on port 80 or 443.
          example: true
          type: boolean
        screenshot:
          title: Screenshot
          description: Links to download a screenshot of the domain in multiple sizes.
          allOf:
          - $ref: '#/components/schemas/Screenshot'
        historical_archives:
          title: Historical archives
          description: Archives of the website from past dates.
          type: array
          items:
            $ref: '#/components/schemas/HistoricalArchive'
        registrar:
          title: Registrar
          description: Information about the domain's registrar
          allOf:
          - $ref: '#/components/schemas/Registrar'
        hosting_providers:
          title: Hosting providers
          description: Information about the host(s) of the webserver(s) used by the company's website
          example:
          - name: Google
            country: United States
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/HostingProvider'
        has_robots_txt:
          title: Has a valid robots.txt?
          description: A website sophistication signal that indicates content scraping permissibility.
          default: true
          example: true
          nullable: true
          type: boolean
        has_apex_and_www:
          title: Has apex and www?
          description: Indicates both the apex domain (e.g. example.com) and www subdomain (e.g. www.example.com) work or correctly forward traffic.
          default: true
          example: true
          nullable: true
          type: boolean
        estimated_tech_spend:
          title: Estimated tech spend
          description: An estimage of the monthly spend on website technologies derived from the visible premium libraries and tools.
          example: 1000
          nullable: true
          type: integer
        estimated_tech_spend_history:
          title: Estimated tech spend history
          description: Estimates of the monthly spend based on the website technologies used as times in the past.
          example:
          - spend: 850
            detected_date: '2022-06-01'
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/TechSpendRecord'
        website_tech_activity:
          title: Website tech activity
          description: The number of total, added, and removed website technologies by month.
          example:
          - year: 2023
            month: 6
            added: 4
            removed: 1
            total: 25
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/TechActivityMonth'
        domains_with_matching_credentials:
          title: Domains with matching credentials
          description: Domains that share technology credentials with the website.
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/CredentialMatchDomain'
        inbound_linking_domains_count:
          title: Inbound linking domains count
          description: The number of unique domains that have links to the website (aka backlinks).
          example: 5
          nullable: true
          type: integer
        inbound_redirects:
          title: Redirects
          description: A list of domains that redirect to the website.
          example:
          - example.xyz
          nullable: true
          type: array
          items:
            type: string
        cohosted_domains:
          title: Co-hosted domains
          description: A list of domains that are hosted on the same IP address as the website, and likely are owned or managed by the same entity.
          example:
          - example.xyz
          nullable: true
          type: array
          items:
            type: string
    NotFound:
      title: NotFound
      type: object
      properties:
        message:
          title: Message
          type: string
      required:
      - message
      example:
        message: Not found.
    DetectedBrand:
      title: DetectedBrand
      type: object
      properties:
        name:
          title: Brand Name
          description: The name of the brand.
          example: Nike
          type: string
        count:
          title: Frequency
          description: The number of times the brand name was detected in the company's principal page(s)
          example: 10
          type: integer
        action:
          title: Action
          description: The action that should be taken for the brand.
          example: warn
          type: string
      required:
      - name
      - count
      - action
    WebsiteTraffic:
      title: WebsiteTraffic
      type: object
      properties:
        visits_per_month:
          title: Visit per month
          description: The number of website visits in the last full month.
          example: 10000
          type: integer
        time_on_site:
          title: Time on site
          description: The average number of seconds a user spent on the site, during the last full month.
          example: 15.55
          type: number
        pages_per_visit:
          title: Pages per visit
          description: The average number of pages visited, during the last full month.
          example: 3.75
          type: number
        bounce_rate:
          title: Bounce rate
          description: The percentage of visitors that only visited a single page, during the last full month.
          example: 15.55
          type: number
        historical_visits_per_month:
          title: Historical visits per month
          description: The count of monthly visits over the prior few months.
          type: array
[...]
